<!DOCTYPE html>
<html ng-app="chat">
<%- include misc/header.ejs %>

    <body class="metro" ng-controller="ChatAppCtrl" ng-cloak>
        <%- include misc/navbar.ejs %>
            <!-- Begin page content -->
            <div ng-show="!joined" style="margin:auto;">
                <%- include misc/login.ejs %>
            </div>
            <div ng-show="joined && navView == 'chat'" class="grid" ng-cloak>
                <%- include chat.ejs %>
            </div>
            <div ng-show="joined && navView == 'create'" class="grid" ng-cloak>
                <%- include create.ejs %>
            </div>
            <div ng-show="joined && navView == 'manage'" class="grid" ng-cloak>
                <%- include manage.ejs %>
            </div>
            <div ng-show="joined && navView == 'chatLog'" class="grid" ng-cloak>
                <%- include chatLog.ejs %>
            </div>
            </div>

    </body>

</html>
