<!DOCTYPE html>
<html ng-app="chat">
<%- include misc/header.ejs %>

    <body class="metro" ng-controller="ChatAppCtrl" ng-cloak>
        <div class="grid fluid">
            <%- include misc/navbar.ejs %>
            <!-- Begin page content -->

            <div class="container">
                <div ng-show="!joined" style="margin:auto;">
                    <%- include misc/login.ejs %>
                </div>
                <div ng-show="joined && navView == 'main'" ng-cloak>
                    <%- include main.ejs %>
                </div>
                <div ng-show="joined && navView == 'chat'" ng-cloak>
                    <%- include chat.ejs %>
                </div>
                <div ng-show="joined && navView == 'create'" ng-cloak>
                    <%- include create.ejs %>
                </div>
            </div>
        </div>
    </body>

</html>
